{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <script data-ad-client="ca-pub-3310235347677100" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <link rel="apple-touch-icon" sizes="76x76" href="{% static '/assets/img/apple-icon.png' %}">
  <link rel="icon" type="image/png" href="{% static '/assets/img/favicon.png' %}">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <title>
    Ours tube
  </title>
  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
  <!--     Fonts and icons     -->
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
  <!-- CSS Files -->
  <link href="{% static '/assets/css/material-dashboard.css' %}" rel="stylesheet" />
  <!-- CSS Just for demo purpose, don't include it in your project -->
  <link href="{% static '/assets/demo/demo.css' %}" rel="stylesheet" />
</head>

<body class="dark-edition">
  <div class="wrapper ">
    <div class="sidebar" data-color="purple" data-background-color="black" data-image="{% static '/assets/img/sidebar-2.jpg' %}">
      <!--
        Tip 1: You can change the color of the sidebar using: data-color="purple | azure | green | orange | danger"

        Tip 2: you can also add an image using data-image tag
    -->
      <div class="logo"><a href="http://www.creative-tim.com" class="simple-text logo-normal">
          Watch Videos
        </a></div>
        <div class="sidebar-wrapper">
          <ul class="nav">
          <li class="nav-item  ">
              <a class="nav-link" href="{% url 'profile' %}">
                  <i class="material-icons">dashboard</i>
                  <p>Dashboard</p>
              </a>
              </li>
            <li class="nav-item ">
              <a class="nav-link" href="{% url 'my_profile' %}">
                <i class="material-icons">person</i>
                <p>User Profile</p>
              </a>
            </li>
            {% if request.user.role == 'is_Viewer' %}
            <li class="nav-item ">
              <a class="nav-link" href="{% url 'payme' %}">
                <i class="material-icons">payments</i>
                <p>Billing</p>
              </a>
            </li>
            
            <li class="nav-item ">
              <a class="nav-link" href="{% url 'videos' %}">
                <i class="material-icons">video_library</i>
                <p>videos</p>
              </a>
            </li>

            <li class="nav-item ">
              <a class="nav-link" href="{% url 'leaderboard' %}">
                <i class="material-icons">leaderboard</i>
                <p>Leader board</p>
              </a>
            </li>

            {% endif %}
            {% if request.user.role == 'is_Creator' %}
            <li class="nav-item ">
              <a class="nav-link" href="{% url 'upload' %}">
                <i class="material-icons">publish</i>
                <p>Upload Videos</p>
              </a>
            </li>
            <li class="nav-item ">
              <a class="nav-link" href="{% url 'subtosub' %}">
                <i class="material-icons">subscriptions</i>
                <p>Sub to sub</p>
              </a>
            </li>
            {% endif %}
            <li class="nav-item ">
              <a class="nav-link" href="{% url 'notifications' %}">
                <i class="material-icons">notifications</i>
                <p>Notifications</p>
              </a>
            </li>

            <li class="nav-item ">
              <a class="nav-link" href="{% url 'logout' %}">
                <i class="material-icons">refresh</i>
                <p>Logout</p>
              </a>
            </li>
            <!-- <li class="nav-item active-pro ">
                  <a class="nav-link" href="./upgrade.html">
                      <i class="material-icons">unarchive</i>
                      <p>Upgrade to PRO</p>
                  </a>
              </li> -->
          </ul>
        </div>
    </div>
    <!--search results-->
    <div class="results">
        <h1> <strong>Search results for... "{{key}}"</strong> </h1>
        {% if cv != 0 or cu != 0 or cc != 0 %}
        <div>
          {% if cu != 0 %}
            <div class="heading">
              
                <label for="">Users</label>
            </div>
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col"><strong>Username</strong></th>
                    <th scope="col"><strong>Role</strong>
                    <th scope="col"><i class="fa fa-telegram ml-33" style="font-size:16px"></i> Telegram</th>
                  </tr>
                </thead>
                <tbody>
                {% for user in users %}
                  {% if user.privacy != 'on' %}
                  <tr>
                    <td>
                        <a href="{% url 'detailed_profile' user.id %}">
                            {{user.username}}
                        </a>
                        </td>
                    <td>
                        {% if user.role == "is_Creator" %}
                        Creator
                        {% endif %}
                        {% if user.role == "is_Viewer" %}
                        Viewer
                        {% endif %}
                    </td>
                    <td>{{user.telegram}}</td>
                  </tr>
                  {% endif %}
                 {% endfor %}
                </tbody>
            </table>
        </div>
        {% endif %}
        {% if cc != 0 %}
        <div class="heading">
            <label for="">Channels</label>
        </div>
       <div class="pb-5">
       {% for channel in channels %}
       <br>
       <br>
       <div class="card card-profile">
       <div class="card-avatar">
           <a href="#pablo">
           <img class="img" src="{{channel.profile_url}}" />
           </a>
       </div>
       <div class="card-body">
           <h6 class="card-category">
           {% if user.role == "is_Creator" %}
           Creator
           {% endif %}
           {% if user.role == "is_Viewer" %}
           Viewer
           {% endif %}
           </h6>
           <h4 class="card-title"><strong>{{channel.channel_title}}</strong> </h4>
           <p class="card-description">
               <strong>{{ channel.numberof_videos }} subscribers</strong> 
           </p>
           {% if user.role == "is_Creator" %}
           <a href="{% url 'subscribe' channel.channel_id %}" class="btn btn-danger btn-round">Subscribe</a>
           {% endif %}
       </div>
       </div>
       {% endfor %}
       </div>
        <div>
        {% endif %}

        {% if cv != 0 %}
          <div class="heading">
              <label for="">Videos</label>
          </div>
          <table class="table">
              <thead>
                <tr>
                  <th scope="col"><strong>Title</strong></th>
                  <th scope="col"><strong>watchtimes</strong>
                  <th scope="col"><strong>Paying Price</strong></th>
                </tr>
              </thead>
              <tbody>
              {% for video in videos %}
                <tr>
                  <td>
                    <a href="{% url 'watch' video.vid_id %}">
                      {{video.vid_title}}
                    </a>
                  </td>
                  <td>{{video.current_watchedtime}}/{{video.watchtime}}</td>
                  <td>{{video.price_pay}}</td>
                </tr>
                {% endfor %}
              </tbody>
          </table>
        {% endif %}
      </div>
  </div>
   
   

     
  <div class="fixed-plugin">
    <div class="dropdown show-dropdown">
      <a href="#" data-toggle="dropdown">
        <i class="fa fa-cog fa-2x"> </i>
      </a>
      <ul class="dropdown-menu">
        <li class="header-title"> Sidebar Filters</li>
        <li class="adjustments-line">
          <a href="javascript:void(0)" class="switch-trigger active-color">
            <div class="badge-colors ml-auto mr-auto">
              <span class="badge filter badge-purple active" data-color="purple"></span>
              <span class="badge filter badge-azure" data-color="azure"></span>
              <span class="badge filter badge-green" data-color="green"></span>
              <span class="badge filter badge-warning" data-color="orange"></span>
              <span class="badge filter badge-danger" data-color="danger"></span>
            </div>
            <div class="clearfix"></div>
          </a>
        </li>
        <li class="header-title">Images</li>
        <li>
          <a class="img-holder switch-trigger" href="javascript:void(0)">
            <img src="{% static '/assets/img/sidebar-1.jpg' %}" alt="">
          </a>
        </li>
        <li class="active">
          <a class="img-holder switch-trigger" href="javascript:void(0)">
            <img src="{% static 'assets/img/sidebar-2.jpg' %}/" alt="">
          </a>
        </li>
        <li>
          <a class="img-holder switch-trigger" href="javascript:void(0)">
            <img src="{% static '/assets/img/sidebar-3.jpg' %}" alt="">
          </a>
        </li>
        <li>
          <a class="img-holder switch-trigger" href="javascript:void(0)">
            <img src="{% static '/assets/img/sidebar-4.jpg' %}" alt="">
          </a>
        </li>
        <li class="button-container">
          <a href="https://www.creative-tim.com/product/material-dashboard-dark" target="_blank" class="btn btn-primary btn-block">Free Download</a>
        </li>
        <!-- <li class="header-title">Want more components?</li>
            <li class="button-container">
                <a href="https://www.creative-tim.com/product/material-dashboard-pro" target="_blank" class="btn btn-warning btn-block">
                  Get the pro version
                </a>
            </li> -->
        <li class="button-container">
          <a href="https://demos.creative-tim.com/material-dashboard-dark/docs/2.0/getting-started/introduction.html" target="_blank" class="btn btn-default btn-block">
            View Documentation
          </a>
        </li>
        <li class="button-container github-star">
          <a class="github-button" href="https://github.com/creativetimofficial/material-dashboard/tree/dark-edition" data-icon="octicon-star" data-size="large" data-show-count="true" aria-label="Star ntkme/github-buttons on GitHub">Star</a>
        </li>
        <li class="header-title">Thank you for 95 shares!</li>
        <li class="button-container text-center">
          <button id="twitter" class="btn btn-round btn-twitter"><i class="fa fa-twitter"></i> &middot; 45</button>
          <button id="facebook" class="btn btn-round btn-facebook"><i class="fa fa-facebook-f"></i> &middot; 50</button>
          <br>
          <br>
        </li>
      </ul>
    </div>
        {% else %}
        <div class="alert alert-info" role="alert">
          No results found!
        </div>
        {% endif %}
  </div>
  
  <!--   Core JS Files   -->
  <script src="{% static '/assets/js/core/jquery.min.js' %}"></script>
  <script src="{% static '/assets/js/core/popper.min.js' %}"></script>
  <script src="{% static '/assets/js/core/bootstrap-material-design.min.js' %}"></script>
  <script src="https://unpkg.com/default-passive-events"></script>
  <script src="{% static '/assets/js/plugins/perfect-scrollbar.jquery.min.js' %}"></script>
  <!-- Place this tag in your head or just before your close body tag. -->
  <script async defer src="https://buttons.github.io/buttons.js"></script>
  <!--  Google Maps Plugin    -->
  <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script>
  <!-- Chartist JS -->
  <script src="{% static '/assets/js/plugins/chartist.min.js' %}"></script>
  <!--  Notifications Plugin    -->
  <script src="{% static '/assets/js/plugins/bootstrap-notify.js' %}"></script>
  <!-- Control Center for Material Dashboard: parallax effects, scripts for the example pages etc -->
  <script src="{% static '/assets/js/material-dashboard.js' %}"></script>
  <!-- Material Dashboard DEMO methods, don't include it in your project! -->
  <script src="{% static '/assets/demo/demo.js' %}"></script>
  <script>
    $(document).ready(function() {
      $().ready(function() {
        $sidebar = $('.sidebar');

        $sidebar_img_container = $sidebar.find('.sidebar-background');

        $full_page = $('.full-page');

        $sidebar_responsive = $('body > .navbar-collapse');

        window_width = $(window).width();

        $('.fixed-plugin a').click(function(event) {
          // Alex if we click on switch, stop propagation of the event, so the dropdown will not be hide, otherwise we set the  section active
          if ($(this).hasClass('switch-trigger')) {
            if (event.stopPropagation) {
              event.stopPropagation();
            } else if (window.event) {
              window.event.cancelBubble = true;
            }
          }
        });

        $('.fixed-plugin .active-color span').click(function() {
          $full_page_background = $('.full-page-background');

          $(this).siblings().removeClass('active');
          $(this).addClass('active');

          var new_color = $(this).data('color');

          if ($sidebar.length != 0) {
            $sidebar.attr('data-color', new_color);
          }

          if ($full_page.length != 0) {
            $full_page.attr('filter-color', new_color);
          }

          if ($sidebar_responsive.length != 0) {
            $sidebar_responsive.attr('data-color', new_color);
          }
        });

        $('.fixed-plugin .background-color .badge').click(function() {
          $(this).siblings().removeClass('active');
          $(this).addClass('active');

          var new_color = $(this).data('background-color');

          if ($sidebar.length != 0) {
            $sidebar.attr('data-background-color', new_color);
          }
        });

        $('.fixed-plugin .img-holder').click(function() {
          $full_page_background = $('.full-page-background');

          $(this).parent('li').siblings().removeClass('active');
          $(this).parent('li').addClass('active');


          var new_image = $(this).find("img").attr('src');

          if ($sidebar_img_container.length != 0 && $('.switch-sidebar-image input:checked').length != 0) {
            $sidebar_img_container.fadeOut('fast', function() {
              $sidebar_img_container.css('background-image', 'url("' + new_image + '")');
              $sidebar_img_container.fadeIn('fast');
            });
          }

          if ($full_page_background.length != 0 && $('.switch-sidebar-image input:checked').length != 0) {
            var new_image_full_page = $('.fixed-plugin li.active .img-holder').find('img').data('src');

            $full_page_background.fadeOut('fast', function() {
              $full_page_background.css('background-image', 'url("' + new_image_full_page + '")');
              $full_page_background.fadeIn('fast');
            });
          }

          if ($('.switch-sidebar-image input:checked').length == 0) {
            var new_image = $('.fixed-plugin li.active .img-holder').find("img").attr('src');
            var new_image_full_page = $('.fixed-plugin li.active .img-holder').find('img').data('src');

            $sidebar_img_container.css('background-image', 'url("' + new_image + '")');
            $full_page_background.css('background-image', 'url("' + new_image_full_page + '")');
          }

          if ($sidebar_responsive.length != 0) {
            $sidebar_responsive.css('background-image', 'url("' + new_image + '")');
          }
        });

        $('.switch-sidebar-image input').change(function() {
          $full_page_background = $('.full-page-background');

          $input = $(this);

          if ($input.is(':checked')) {
            if ($sidebar_img_container.length != 0) {
              $sidebar_img_container.fadeIn('fast');
              $sidebar.attr('data-image', '#');
            }

            if ($full_page_background.length != 0) {
              $full_page_background.fadeIn('fast');
              $full_page.attr('data-image', '#');
            }

            background_image = true;
          } else {
            if ($sidebar_img_container.length != 0) {
              $sidebar.removeAttr('data-image');
              $sidebar_img_container.fadeOut('fast');
            }

            if ($full_page_background.length != 0) {
              $full_page.removeAttr('data-image', '#');
              $full_page_background.fadeOut('fast');
            }

            background_image = false;
          }
        });

        $('.switch-sidebar-mini input').change(function() {
          $body = $('body');

          $input = $(this);

          if (md.misc.sidebar_mini_active == true) {
            $('body').removeClass('sidebar-mini');
            md.misc.sidebar_mini_active = false;

            $('.sidebar .sidebar-wrapper, .main-panel').perfectScrollbar();

          } else {

            $('.sidebar .sidebar-wrapper, .main-panel').perfectScrollbar('destroy');

            setTimeout(function() {
              $('body').addClass('sidebar-mini');

              md.misc.sidebar_mini_active = true;
            }, 300);
          }

          // we simulate the window Resize so the charts will get updated in realtime.
          var simulateWindowResize = setInterval(function() {
            window.dispatchEvent(new Event('resize'));
          }, 180);

          // we stop the simulation of Window Resize after the animations are completed
          setTimeout(function() {
            clearInterval(simulateWindowResize);
          }, 1000);

        });
      });
    });
  </script>
  <style>
    .results{
      margin-left: 22%;
      width: 80%;
      display: inline-block;
    }
    #payment_buttons{
        width: 50%;
        margin-left: 30%;
    }
    .heading{
        background-color: brown;
        text-align: center;
        font-size: large;
    }
  </style>
</body>

</html>